body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  transition: .7s ease-out;
  font-family: sans-serif;
  background: linear-gradient(to left, #41295a , #2F0743);
}

.container {
  color: white;
  display: flex;
  flex-flow: column wrap;
  padding: 2em;
  margin: 10em auto;
  box-shadow: 0px 0px 5px -3px;
}

.location {
  font-size: 50px;
  display: flex;
  flex-wrap: nowrap;
  padding: 10px;
  flex-direction: row;
  justify-content: space-around;
}

.weather {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#country {
  margin-right: 20px
}

i#weatherIcon {
  font-size: 120px;
}

#temperature {
  font-size: 100px;
}
